<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Attribute\Backend\Media\EntryConverterPool">
        <arguments>
            <argument name="mediaGalleryEntryConvertersCollection" xsi:type="array">
                <item name="upload-video" xsi:type="object">AlbertMage\ProductVideo\Model\Product\Attribute\Media\UploadVideoEntryConverter</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\ProductVideo\Model\Plugin\Catalog\Product\Gallery\CreateHandler" type="AlbertMage\ProductVideo\Model\Plugin\Catalog\Product\Gallery\CreateHandler"/>
    <preference for="Magento\ProductVideo\Model\Plugin\Catalog\Product\Gallery\ReadHandler" type="AlbertMage\ProductVideo\Model\Plugin\Catalog\Product\Gallery\ReadHandler"/>
</config>